server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/insightx
    username: insightx
    password: insightx

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  redis:
    host: localhost
    port: 6379
